* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1;
}

body {
    background-color: lavender;
}

.list_wrapper {
    padding: .5rem .15rem;
}

.list_wrapper .list-group .list-group-item {
    padding: .5rem 1.25rem;
    margin: .2rem 0;
    display: flex;
    justify-content: space-between;
}

a, button {
    transition: .2s;
}

a:hover,
button:hover {
    text-decoration: none;
}

.icon_wrapper {
    margin: 0 .5rem;
}

.icon {
    width: 20px;
    height: 20px;
}

